USE [master]
GO
/****** Object:  Database [prison_db]    Script Date: 22.3.2026 г. 12:24:17 ******/
CREATE DATABASE [prison_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prison_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\prison_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'prison_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\prison_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [prison_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [prison_db]
GO
/****** Object:  Table [dbo].[cells]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cells](
	[cell_id] [int] IDENTITY(1,1) NOT NULL,
	[prison_block_id] [int] NOT NULL,
	[capacity] [int] NULL,
	[kind] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cell_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crimes]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crimes](
	[crime_id] [int] IDENTITY(1,1) NOT NULL,
	[crime] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[crime_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guards]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guards](
	[guard_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[guard_rank] [varchar](30) NULL,
	[phone] [varchar](10) NULL,
	[shift_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guard_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medical_records]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medical_records](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[prisoner_id] [int] NOT NULL,
	[diagnosis] [varchar](50) NOT NULL,
	[treatment] [varchar](100) NULL,
	[treatment_days] [int] NOT NULL,
	[doctor_first_name] [varchar](20) NULL,
	[doctor_last_name] [varchar](20) NULL,
	[record_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prison_blocks]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prison_blocks](
	[prison_block_id] [int] IDENTITY(1,1) NOT NULL,
	[prison_block] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[prison_block_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prisoners]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prisoners](
	[prisoner_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](20) NOT NULL,
	[last_name] [varchar](20) NOT NULL,
	[EGN] [varchar](10) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[gender] [char](1) NOT NULL,
	[crime_id] [int] NOT NULL,
	[sentence_months] [int] NOT NULL,
	[sentence_start] [date] NOT NULL,
	[sentence_end] [date] NOT NULL,
	[cell_id] [int] NOT NULL,
	[released] [bit] NOT NULL,
	[prison_block_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prisoner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[punishments]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[punishments](
	[punishment_id] [int] IDENTITY(1,1) NOT NULL,
	[prisoner_id] [int] NOT NULL,
	[reason] [varchar](50) NOT NULL,
	[punishment_days] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[punishment_type] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[punishment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shifts]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shifts](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_name] [varchar](20) NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[prison_block_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visits]    Script Date: 22.3.2026 г. 12:24:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visits](
	[visit_id] [int] IDENTITY(1,1) NOT NULL,
	[prisoner_id] [int] NOT NULL,
	[visitor_first_name] [varchar](20) NOT NULL,
	[visitor_last_name] [varchar](20) NOT NULL,
	[visitor_relation] [varchar](30) NOT NULL,
	[visit_date] [datetime] NOT NULL,
	[duration_minuits] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[visit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cells] ON 

INSERT [dbo].[cells] ([cell_id], [prison_block_id], [capacity], [kind]) VALUES (1, 1, 4, N'Standard')
INSERT [dbo].[cells] ([cell_id], [prison_block_id], [capacity], [kind]) VALUES (2, 2, 4, N'Standard')
INSERT [dbo].[cells] ([cell_id], [prison_block_id], [capacity], [kind]) VALUES (3, 3, 2, N'Standard')
SET IDENTITY_INSERT [dbo].[cells] OFF
GO
SET IDENTITY_INSERT [dbo].[crimes] ON 

INSERT [dbo].[crimes] ([crime_id], [crime]) VALUES (1, N'Theft')
INSERT [dbo].[crimes] ([crime_id], [crime]) VALUES (2, N'Assault')
INSERT [dbo].[crimes] ([crime_id], [crime]) VALUES (3, N'Fraud')
SET IDENTITY_INSERT [dbo].[crimes] OFF
GO
SET IDENTITY_INSERT [dbo].[guards] ON 

INSERT [dbo].[guards] ([guard_id], [first_name], [last_name], [guard_rank], [phone], [shift_id]) VALUES (1, N'Ivan', N'Ivanov', N'Sergeant', N'0888111222', 1)
INSERT [dbo].[guards] ([guard_id], [first_name], [last_name], [guard_rank], [phone], [shift_id]) VALUES (2, N'Petar', N'Petrov', N'Officer', N'0888111223', 1)
INSERT [dbo].[guards] ([guard_id], [first_name], [last_name], [guard_rank], [phone], [shift_id]) VALUES (3, N'Georgi', N'Georgiev', N'Officer', N'0888111224', 2)
SET IDENTITY_INSERT [dbo].[guards] OFF
GO
SET IDENTITY_INSERT [dbo].[medical_records] ON 

INSERT [dbo].[medical_records] ([record_id], [prisoner_id], [diagnosis], [treatment], [treatment_days], [doctor_first_name], [doctor_last_name], [record_date]) VALUES (1, 1, N'Common Cold', N'Rest and Paracetamol', 3, N'Dr. Kiril', N'Simeonov', CAST(N'2026-01-05T08:00:00.000' AS DateTime))
INSERT [dbo].[medical_records] ([record_id], [prisoner_id], [diagnosis], [treatment], [treatment_days], [doctor_first_name], [doctor_last_name], [record_date]) VALUES (2, 2, N'Sprained Ankle', N'Bandage and Ice', 7, N'Dr. Kiril', N'Simeonov', CAST(N'2026-01-06T09:30:00.000' AS DateTime))
INSERT [dbo].[medical_records] ([record_id], [prisoner_id], [diagnosis], [treatment], [treatment_days], [doctor_first_name], [doctor_last_name], [record_date]) VALUES (3, 3, N'Hypertension', N'Daily medication', 365, N'Dr. Maria', N'Georgieva', CAST(N'2026-01-07T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[medical_records] OFF
GO
SET IDENTITY_INSERT [dbo].[prison_blocks] ON 

INSERT [dbo].[prison_blocks] ([prison_block_id], [prison_block]) VALUES (1, N'Block A - Min')
INSERT [dbo].[prison_blocks] ([prison_block_id], [prison_block]) VALUES (2, N'Block B - Min')
INSERT [dbo].[prison_blocks] ([prison_block_id], [prison_block]) VALUES (3, N'Block C - Med')
SET IDENTITY_INSERT [dbo].[prison_blocks] OFF
GO
SET IDENTITY_INSERT [dbo].[prisoners] ON 

INSERT [dbo].[prisoners] ([prisoner_id], [first_name], [last_name], [EGN], [date_of_birth], [gender], [crime_id], [sentence_months], [sentence_start], [sentence_end], [cell_id], [released], [prison_block_id]) VALUES (1, N'Viktor', N'Lazarov', N'8001011000', CAST(N'1980-01-01' AS Date), N'M', 1, 24, CAST(N'2025-01-01' AS Date), CAST(N'2027-01-01' AS Date), 1, 0, 1)
INSERT [dbo].[prisoners] ([prisoner_id], [first_name], [last_name], [EGN], [date_of_birth], [gender], [crime_id], [sentence_months], [sentence_start], [sentence_end], [cell_id], [released], [prison_block_id]) VALUES (2, N'Stoyan', N'Kolev', N'8102021001', CAST(N'1981-02-02' AS Date), N'M', 2, 36, CAST(N'2024-05-10' AS Date), CAST(N'2027-05-10' AS Date), 1, 0, 1)
INSERT [dbo].[prisoners] ([prisoner_id], [first_name], [last_name], [EGN], [date_of_birth], [gender], [crime_id], [sentence_months], [sentence_start], [sentence_end], [cell_id], [released], [prison_block_id]) VALUES (3, N'Elena', N'Dobreva', N'8203031002', CAST(N'1982-03-03' AS Date), N'F', 3, 12, CAST(N'2025-06-15' AS Date), CAST(N'2026-06-15' AS Date), 2, 0, 2)
SET IDENTITY_INSERT [dbo].[prisoners] OFF
GO
SET IDENTITY_INSERT [dbo].[punishments] ON 

INSERT [dbo].[punishments] ([punishment_id], [prisoner_id], [reason], [punishment_days], [start_date], [end_date], [punishment_type]) VALUES (1, 1, N'Contraband', 5, CAST(N'2026-01-10T08:00:00.000' AS DateTime), CAST(N'2026-01-15T08:00:00.000' AS DateTime), N'Solitary Confinement')
INSERT [dbo].[punishments] ([punishment_id], [prisoner_id], [reason], [punishment_days], [start_date], [end_date], [punishment_type]) VALUES (2, 2, N'Fighting', 7, CAST(N'2026-01-11T12:00:00.000' AS DateTime), CAST(N'2026-01-18T12:00:00.000' AS DateTime), N'Loss of Privileges')
INSERT [dbo].[punishments] ([punishment_id], [prisoner_id], [reason], [punishment_days], [start_date], [end_date], [punishment_type]) VALUES (3, 3, N'Disrespect', 2, CAST(N'2026-01-12T14:00:00.000' AS DateTime), CAST(N'2026-01-14T14:00:00.000' AS DateTime), N'Extra Cleaning Duty')
SET IDENTITY_INSERT [dbo].[punishments] OFF
GO
SET IDENTITY_INSERT [dbo].[shifts] ON 

INSERT [dbo].[shifts] ([shift_id], [shift_name], [start_time], [end_time], [prison_block_id]) VALUES (1, N'Morning A', CAST(N'2026-01-01T06:00:00.000' AS DateTime), CAST(N'2026-01-01T14:00:00.000' AS DateTime), 1)
INSERT [dbo].[shifts] ([shift_id], [shift_name], [start_time], [end_time], [prison_block_id]) VALUES (2, N'Afternoon A', CAST(N'2026-01-01T14:00:00.000' AS DateTime), CAST(N'2026-01-01T22:00:00.000' AS DateTime), 1)
INSERT [dbo].[shifts] ([shift_id], [shift_name], [start_time], [end_time], [prison_block_id]) VALUES (3, N'Night A', CAST(N'2026-01-01T22:00:00.000' AS DateTime), CAST(N'2026-01-02T06:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[shifts] OFF
GO
SET IDENTITY_INSERT [dbo].[visits] ON 

INSERT [dbo].[visits] ([visit_id], [prisoner_id], [visitor_first_name], [visitor_last_name], [visitor_relation], [visit_date], [duration_minuits]) VALUES (1, 1, N'Anna', N'Peneva', N'Wife', CAST(N'2026-01-10T10:00:00.000' AS DateTime), 30)
INSERT [dbo].[visits] ([visit_id], [prisoner_id], [visitor_first_name], [visitor_last_name], [visitor_relation], [visit_date], [duration_minuits]) VALUES (2, 2, N'Boris', N'Kolev', N'Brother', CAST(N'2026-01-11T11:30:00.000' AS DateTime), 45)
INSERT [dbo].[visits] ([visit_id], [prisoner_id], [visitor_first_name], [visitor_last_name], [visitor_relation], [visit_date], [duration_minuits]) VALUES (3, 3, N'Galina', N'Dobreva', N'Mother', CAST(N'2026-01-12T14:00:00.000' AS DateTime), 60)
SET IDENTITY_INSERT [dbo].[visits] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__prisoner__C1902746E10CC2F0]    Script Date: 22.3.2026 г. 12:24:18 ******/
ALTER TABLE [dbo].[prisoners] ADD UNIQUE NONCLUSTERED 
(
	[EGN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cells]  WITH CHECK ADD FOREIGN KEY([prison_block_id])
REFERENCES [dbo].[prison_blocks] ([prison_block_id])
GO
ALTER TABLE [dbo].[guards]  WITH CHECK ADD FOREIGN KEY([shift_id])
REFERENCES [dbo].[shifts] ([shift_id])
GO
ALTER TABLE [dbo].[medical_records]  WITH CHECK ADD FOREIGN KEY([prisoner_id])
REFERENCES [dbo].[prisoners] ([prisoner_id])
GO
ALTER TABLE [dbo].[prisoners]  WITH CHECK ADD FOREIGN KEY([cell_id])
REFERENCES [dbo].[cells] ([cell_id])
GO
ALTER TABLE [dbo].[prisoners]  WITH CHECK ADD FOREIGN KEY([crime_id])
REFERENCES [dbo].[crimes] ([crime_id])
GO
ALTER TABLE [dbo].[prisoners]  WITH CHECK ADD FOREIGN KEY([prison_block_id])
REFERENCES [dbo].[prison_blocks] ([prison_block_id])
GO
ALTER TABLE [dbo].[punishments]  WITH CHECK ADD FOREIGN KEY([prisoner_id])
REFERENCES [dbo].[prisoners] ([prisoner_id])
GO
ALTER TABLE [dbo].[shifts]  WITH CHECK ADD FOREIGN KEY([prison_block_id])
REFERENCES [dbo].[prison_blocks] ([prison_block_id])
GO
ALTER TABLE [dbo].[visits]  WITH CHECK ADD FOREIGN KEY([prisoner_id])
REFERENCES [dbo].[prisoners] ([prisoner_id])
GO
ALTER TABLE [dbo].[prisoners]  WITH CHECK ADD CHECK  (([gender]='F' OR [gender]='M'))
GO
USE [master]
GO
